.container{
    width: 84.2%!important;
    display: block !important;
    overflow-y: scroll!important;
}
.container::-webkit-scrollbar{
    display: none;
}
.card{
    margin:1rem;
    margin-bottom: 0rem;
    height:fit-content;
}

.list-group{
    margin-bottom: 0rem;
}

/* #responses{
    display: none;
} */

.responses{
    display: none!important;
}

.responses-after-click{
    display: block!important;
}

.card:last-child{
    margin-bottom: 5rem;
}